<li [ngClass]="{'list-group-item': true,
			    'list-group-item-success': postlove > 0,
				'list-group-item-danger': postlove < 0 }">

  	<h5 class="post-title">{{posttitle}}</h5> <h6 class="post-creation-date">{{postcreated|date:'d/M/yyyy, h:mm a'}}</h6>
  
  	<p class="post-content-text">{{postcontent}}</p>
  
  	<br>
  	<button class="btn btn-success" 
          	(click)="postlove = AddLoveIt()">Love It!</button>

  	<button class="btn btn-danger" 
          	(click)="postlove = SubtractLoveIt()">Don't Love It!</button>

</li>
